@import url(reset.css);
@import url(general.css);

.canvas-container {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: block;
    margin: auto;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: center;
}


.info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    z-index: 1;
    padding: 0 1rem;
    width: fit-content;
}

.info__icon {
    font-size: 2rem;
    font-weight: 700;
    margin-block-start: 0.2rem;
    cursor: pointer;
}

.info__description {
    display: none;
    padding-block-start: 0.5rem;
    padding-block-end: 1rem;
    min-width: 15rem;
    width: 25vw;
}

.info__description--header {
    display: flex;
    justify-content: space-between;
    margin-block: 0.5rem;
}
.info__description--title {
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: 'elza', sans-serif;
    font-weight: 500;
    max-width: 80%;
}
.info__description--close {
    font-size: 1.5rem;
    line-height: 1;
    text-align: end;
    cursor: pointer;
}

.info__description--text {
    font-size: 0.9rem;
    font-family: 'elza', sans-serif;
    font-weight: 300;
}


.video__error {
    position: absolute;
    top: calc(var(--header-height) + 1rem);
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: none;
}
.video__error p {
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-family: 'elza', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 0.5rem 0.8rem;
    margin-inline: 0.5rem;
}


.loading {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #2626268d;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 3px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}