:root {
  --header-height: 4rem;
}

@font-face {
  font-family: 'deimos';
  src: url(/Deimos.woff2) format('woff2');
}

a {
  text-decoration: none;
  color: #000;
}


body {
  font-family: 'deimos', monospace;
  font-size: 1.2rem;
  line-height: 1.2;
}

header {
  background-color: #fff;
  background-image: linear-gradient(to right, #000 20%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom 10px left 0;
  background-size: 10px 2px;
  background-repeat: repeat-x;
  height: var(--header-height);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}