@import url(reset.css);
@import url(general.css);

.introduction {
    display: grid;
    align-items: center;
    grid-template-columns: 1.35fr 1fr;
    width: 80vw;
    max-width: 70rem;
    padding-block-start: 10vh;
    padding-block-end: 14vh;
    margin: auto;
    gap: 1.5rem;
}

.introduction__title {
    display: flex;
    flex-direction: column;
}

.introduction__title--title {
    font-size: clamp(3rem, 3.8rem + 2.2vi, 5.8rem);
    font-weight: 700;
    line-height: 1;
}

.introduction__title--subtitle {
    font-size: clamp(1.8rem, 2rem + 1vi, 2.8rem);
    line-height: 0.5;
}
.introduction__explanation {
    font-family: 'elza', sans-serif;
    font-weight: 300;
}


@media screen and (max-width: 1150px) {
    .introduction {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .introduction__title--subtitle {
        line-height: 1;
    }
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overview {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.overview__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 40s linear infinite;
    animation-direction: reverse;
}       
canvas {
    width: 33vw;
    height: 45vh;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 768px) {
    .overview {
        flex-direction: column;
    }
    .overview__content {
        flex-direction: column;
        animation: none;
    }
    .overview__content--double {
        display: none;
    }
    canvas {
        width: 100%;
        height: 50vh;
    
    }
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}